@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  --lightgrey: hsl(204, 43%, 93%);
  --greyblue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background: var(--lightgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Typography */

h1 {
  font-size: 1.25rem;
  color: var(--cyan);
}

h2 {
  font-size: 1.06rem;
}

h1,
h2 {
  margin-bottom: 1.25em;
}

.subscription,
.why-us h2 {
  color: #fff;
}

.site-info h2 {
  color: var(--yellow);
}

.site-info p {
  font-size: 0.875rem;
  line-height: 1.8rem;
  color: var(--greyblue);
}

.price {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.price span {
  font-size: 16px;
  vertical-align: middle;
  opacity: 0.6;
}

.why-us ul {
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.25rem;
  letter-spacing: 0.17px;
  opacity: 0.8;
}

/* Components */

button {
  width: 100%;
  max-width: 265px;
  padding: 1.25em 3em;
  display: block;
  margin-top: 2em;
  border: none;
  border-radius: 5px;
  outline: none;
  background: var(--yellow);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.2px;
  cursor: pointer;
}

button:hover {
  transform: scale(0.98);
}

/* Layout */

.container {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.site-info,
.subscription,
.why-us {
  padding: 1.75em;
}

.site-info {
  background: #fff;
  border-radius: 5px 5px 0 0;
}

.subscription,
.why-us {
  background: var(--cyan);
}

.why-us {
  opacity: 0.8;
  border-radius: 0 0 5px 5px;
}

.why-us ul {
  list-style: none;
}

@media (min-width: 540px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  h1,
  h2 {
    margin-bottom: 1em;
  }

  .site-info p {
    font-size: 1rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 230px 1fr;
    max-width: 650px;
    max-height: 475px;
    width: 95%;
    box-shadow: 0 0 25px hsla(218, 22%, 67%, 0.5);
  }

  .site-info {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .site-info,
  .subscription,
  .why-us {
    padding: 2.5em;
  }

  .subscription {
    border-radius: 0 0 0 5px;
  }

  .why-us {
    border-radius: 0 0 5px 0;
  }
}
